.content-section {
	min-height: 100vh;
}

.text-border {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

/* .first-section {
	height: 100vh;
	overflow: hidden;
}

.first-section::before {
	content: '';
	background-image: url('/src/images/festival-bg.avif');
	background-position: center;
	background-size: cover;
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	filter: brightness(20%) blur(4px); 
	z-index: -1;
}

.second-section {
	height: 100vh;
	overflow: hidden;
}

.second-section::before {
	content: '';
	background-image: url('/src/images/background-tile.webp');
	background-position: center;
	background-repeat: repeat;
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	filter: brightness(20%) blur(4px);
	z-index: -1;
}
 */
